.about-container {
    margin-top: 80px;
    @include flex-center-column();

    h1 {
        font-size: 5rem;
        text-decoration: underline;
    }

    h2 {
        margin-top: 3rem;
        font-size: 3rem;
        color: $primaryThree;
    }

    .dev-card {
        @include flex-center-row();
        justify-content: space-around;
    }

    .dev-picture {
        @include flex-center-row();

        img {
            max-height: 200px;
            max-width: 200px;
            height: 100%;
            width: 100%;
            border-radius: 8px;
        }

        i {
            margin: -16rem 0 0 -4rem;
        }
    }
}