.about-container {
    @include flex-center-column();
    max-width: 1000px;
    width: 100%;
    margin: 150px auto 100px auto;

    .about-title {
        text-align: center;
    }

    h1 {
        font-size: 4rem;
        text-decoration: underline;
        color: $grayscaleTwo;
        margin-bottom: 30px;
    }

    h2 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        font-size: 4rem;
        color: $primaryThree;
    }

    p {
        color: $grayscaleFive;
    }

    .dev-card {
        @include flex-center-row();

        width: 95%;
        margin: 10px auto;

        .dev-text {
            padding: 0rem 10rem;
            margin: 0 auto;

            p {
                margin-top: -1rem;
                font-size: 2.25rem;
            }
        }

        .dev-picture {
            @include flex-center-row();

            img {
                margin-top: 2rem;
                max-height: 200px;
                max-width: 200px;
                border-radius: 10px;
            }
        }
    }

    .about-app {
        margin: 50px auto;
        width: 70%;

        p {
            margin-top: 1rem;
            font-size: 2.25rem;
        }
    }
}

@media (max-width: 700px) {
    .about-container {
        margin-top: 80px;
        @include flex-center-column();

        .dev-card {
            @include flex-center-column();
        }

        .dev-card:nth-child(3) {
            flex-direction: column-reverse;
        }
    }
}

@media (max-width: 500px) {
    .about-container {
        margin-top: 40px;
    }
}