.carousel {
  position: relative;
  width: 100%;
  min-height: 500px;

  .carousel-card {
    display: none;
    position: relative;
    overflow: hidden;
    max-height: 500px;
    width: 100%;
    border-radius: 0 0 15px 15px;
    box-shadow: 2px 4px 4px 5px rgba(0, 0, 0, 0.3);
    transition: all 500ms ease-in-out;

    img {
      width: 100%;
    }

    p {
      color: whitesmoke;
      font-size: 18px;
      position: absolute;
      bottom: 10%;
      left: 10%;
    }
    h3 {
      position: absolute;

      color: white;
      font-size: 30px;
      bottom: 20%;
      left: 10%;
    }
  }

  .carousel-btn {
    font-size: $text-10;
    color: $grayscaleThree;
    transition: color 150ms ease-in-out;
    cursor: pointer;

    &:hover {
      color: $grayscaleTwo;
    }
  }

  .carousel-btn--left {
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 2;
  }
  .carousel-btn--right {
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 2;
  }
}

@media (max-width: 500px) {
  .carousel {
    min-height: 200px;

    .carousel-card {
      width: 90%;
      margin: 0 auto;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

      h3 {
        top: 20%;
        left: 5%;
      }
      p {
        top: 40%;
        left: 5%;
      }
    }

    .carousel-btn {
      display: none;
    }
  }
}
