.appomode {
    @include flex-center-row();
    text-align: center;
    background-color: $primaryThree;
    margin: 1rem 0 3rem;

    .appomode-text {
        h1 {
            font-size: 6rem;
            color: $grayscaleNine;
        }

        .getstarted {
            margin-top: 3rem;
            font-size: 1.4rem;
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            border-radius: 10rem;
            cursor: pointer;
            transition: 0.4s all cubic-bezier(0.215, 0.610, 0.355, 1.000);
            padding: 1.7rem 4.8rem 1.5rem;
            color: $grayscaleFive;
            background-color: $grayscaleNine;
            border: 0.2rem solid $grayscaleEight;
        }
    }

    .iphone {}
}

.CTA {
    @include flex-center-row();
    margin: 3rem 0 0;

    .CTA-img {
        width: 50%;
    }

    .CTA-text {
        text-align: center;
        padding: 2rem;

        h1 {
            font-size: 8rem;
            color: $primaryFour;
        }

        h2 {
            font-size: 4rem;
            color: $accentOne;
        }

        p {
            font-size: 2rem;
            color: $grayscaleSix;
        }

        i {
            font-size: 10rem;
        }

        .climbingUSA {
            width: 30%;
            margin-top: -4rem;
        }
    }
}