.postcard-container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    .postcard-stack {
        width: 500px;
        height: 250px;
        margin: 0 auto;

        .card-list {
            @include flex-center-row;
            margin: 0rem auto;


            .post {
                width: 100%;
                transition: all 100ms ease-in-out;
                list-style: none;
                height: 250px;
                margin: 0 auto;
                text-align: center;
                background-size: cover;
            }
        }
    }
}